.App {
  text-align: center;
  background-color: rgb(4, 23, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
}

.container {
  background-color: rgb(168, 202, 247);
  width: 500px;
  height: 100px;
}
